<div class="container">
    <div class="menu"><div class="text-center mt-4 ">
        <a href="https://t.me/yourusername" target="_blank" class="px-4">
          <i class="fab fa-telegram fa-2x text-dark"></i>
        </a>
        <a href="https://facebook.com/yourprofile" target="_blank" class="px-4">
          <i class="fab fa-facebook fa-2x text-dark"></i>
        </a>
        <a href="https://wa.me/1234567890" target="_blank" class="px-4">
          <i class="fab fa-whatsapp fa-2x text-dark"></i>
        </a>
        <a href="mailto:youremail@example.com" class="px-4">
          <i class="fas fa-envelope fa-2x text-dark"></i>
        </a>
      </div>
      
    </div>
    
    <footer class="text-center mt-5 footer">
        <p>&copy; 2025 The Preserved City Church..</p>
      </footer>
</div>

</body>
</html>
