<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Preserved City Church</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">The Preserved City Church</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          
          <li class="nav-item"><a class="nav-link" href="/blog">visit blog</a></li>
          <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
          
          <li class="nav-item"><a class="nav-link" href="/contact">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
